<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Proyecto</title>
</head>
<body>

    <header>
        <div class="encabezado">
            <h1>Auditoria de la Provincia de Jujuy</h1>
            <img src="/img/escudoProvincia.png" alt="">
        </div>
        <nav class="navSuperior">
            <ul>
                <li>Rendiciones</li>
                <li>Ingresos</li>
                <li><a href="/egresos">Egresos</a></li>
                <li>Bancos</li>
                <li>Presupuesto</li>
                <li>Responsables</li>

            </ul>
        </nav>
    </header>
    <div class="contenedor">
        <nav class="barra-lateral">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </nav>
        <main class="cuerpo">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloribus architecto, labore quaerat obcaecati rerum dignissimos doloremque ullam delectus quasi placeat consectetur officiis perferendis quas ipsam corrupti vero cumque minima!</p>
        </main>
    </div>

    <footer>

    </footer>
</body>
</html>