<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Proyecto</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <h1>Auditoria de la Provincia de Jujuy</h1>
            <img src="/img/escudoProvincia.png" alt="">
        </div>
        <nav class="navSuperior">
            <ul>
                <li>Rendiciones</li>
                <li>Ingresos</li>
                <li><a href="/egresos">Egresos</a></li>
                <li>Bancos</li>
                <li>Presupuesto</li>
                <li>Responsables</li>

            </ul>
        </nav>
    </header>
    
</body>
</html>