<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="320">
        <input type="search">
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            
            <p><b>Basado en tu última visita</b></p>
            <div class="articulo">
                <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="320">
                <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p><b>Cafetera Moulinex</b></p>
                </div>        
            </div>
            <div class="articulo">
                <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="320">
                <div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><b>MacBook Pro 2019</b></p>
                </div>
            </div>
            <div class="articulo">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="320">
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p><b>Samsung Galaxy S10</b></p>
                </div>    
            <div class="articulo">
                <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="320">
                <p>$23.200</p>
                <p>5% off</p>
                <p><b>SmartTv Samsung 43"</b></p>
            </div>
        </section>
        <section>
            <p><b>Sección de Ofertas</b></p>
            <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="320">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><b>Cafetera Moulinex</b></p>
            <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="320">
            <p>$230.000</p>
            <p>20% off</p>
            <p><b>MacBook Pro 2019</b></p>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="320">
            <p>$70.500</p>
            <p>10% off</p>
            <p><b>Samsung Galaxy S10</b></p>
            <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="320">
            <p>$23.200</p>
            <p>5% off</p>
            <p><b>SmartTv Samsung 43"</b></p>
        </section>
    </main>

    <footer>
        <section>
            <p><b>Pagá con tarjeta o en efectivo</b></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <p><b>Envío gratis desde $2.500</b></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <p><b>Seguridad, de principio a fin</b></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
    
</body>
</html>